.footer-img {
  background: $main-accent;
  width: 100%;
  position: absolute;
  height: 50px;
  bottom: 0;
  z-index: -1;
  left: 0;
}
.footer {
  // border-radius: 20% 20% 0 0;
  display: flex;
  justify-content: center;
  background: $main-accent;
  height: auto;
  background: url("./flow.png"), rgba(3, 3, 206, 0.811);
  background-size: cover;
  background-position: 0;
  p {
    margin: 0;
    margin-bottom: 10px;
  }
  .footer-content {
    padding: 30px;
    border-radius: 50% 50% 0 0;
    width: 100%;
    max-width: 500px;
    @include flex-center(column);
    align-items: flex-start;
    .footer-icons {
      color: white;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      height: fit-content;
      flex-direction: column;
      .footer-icon {
        display: flex;
        flex-direction: row;
        padding: 10px;
        transition: border 0.1s ease-in-out;
      }
      svg {
        padding: 10px;
        transition: 0.3s all;
        &:hover {
          cursor: pointer;
          scale: 1.1;
        }
      }
    }

    h1 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 40px;
      color: rgb(255, 255, 255);
      @media (max-width: $mid-breakpoint) {
        font-size: 20px;
      }
    }
    a {
      text-decoration: none;
      margin: 0 auto;
      margin-top: 40px;
      padding: 10px 40px;
      width: 200px;
      font-size: 20px;
      color: $text-black;
      background: $yellow-gradient;
      border-radius: 20px;
      border: none;
      box-shadow: $raised-shadow;
    }
  }
}
