.footer-img {
  background: $main-accent;
  width: 100%;
  position: absolute;
  height: 50px;
  bottom: 0;
  z-index: -1;
  left: 0;
}
.footer {
  display: flex;
  justify-content: space-around;
  background: $main-accent;
  height: auto;
  background-position: 0;
  padding-bottom: 20px;
  align-items: center;
  flex-wrap: wrap;
  padding: 60px;

  img {
    height: 100px;
    height: fit-content;
    width: fit-content;
  }
  p {
    margin: 0;
    margin-bottom: 10px;
  }
  .footer-content {
    background: transparent;

    padding: 0px;
    width: 100%;
    max-width: 600px;
    @include flex-center(column);
    align-items: flex-start;
    h3 {
      text-transform: uppercase;
      color: $yellow;
    }
    .footer-icons {
      color: white;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      height: fit-content;
      flex-direction: column;
      .footer-icon {
        display: flex;
        flex-direction: row;
        padding: 10px;
        transition: border 0.1s ease-in-out;
      }
      svg {
        padding: 10px;
        transition: 0.3s all;
        &:hover {
          cursor: pointer;
          scale: 1.1;
        }
      }
    }

    h1 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 40px;
      color: rgb(255, 255, 255);
      @media (max-width: $mid-breakpoint) {
        font-size: 20px;
      }
    }
    a {
      text-decoration: none;
      margin: 0 auto;
      margin-top: 40px;
      padding: 10px 40px;
      width: -webkit-fill-available;
      font-size: 20px;
      color: $text-black;
      background: $yellow-gradient;
      border-radius: 20px;
      border: none;
      box-shadow: $raised-shadow;
      font-weight: 600;
    }
  }
}
